{%for status,message in msg %}
<div class="alert alert-dismissible alert-{{ status }}">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {% for message in message %}
        <div>{{ message }}</div>
    {% endfor %}
</div>
{% endfor %}